<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrystalReportsNinja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<userSettings>
        <CrystalReportsNinja.Properties.Settings>
            <setting name="SQL_Use_IntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLogToConsole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTP_Server_Address" serializeAs="String">
                <value>Smtp.office365.com</value>
            </setting>
            <setting name="SMTP_Server_Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTP_SSL_Reqruired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTP_Authentication_Used" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Email_CC" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Email_BCC" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Email_Message_Body" serializeAs="String">
                <value>The information contained is intended for the named recipients only, it may contain confidential and/or legally privileged information and is only intended for the use of the person to whom it is addressed. If you have received this e-mail in error you must not copy, duplicate, forward, print or distribute any information contained herein, but must ensure that this e-mail is permanently deleted and advise the sender. </value>
            </setting>
            <setting name="Keep_Outputfile_after_Sending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Default_Printer_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Server_Name" serializeAs="String">
                <value>SQLSERVERNAME</value>
            </setting>
            <setting name="SQL_Database_Name" serializeAs="String">
                <value>SQLDBNAME</value>
            </setting>
            <setting name="SQL_User_Name" serializeAs="String">
                <value>REPORTUSERNAME</value>
            </setting>
            <setting name="SQL_Password" serializeAs="String">
                <value>REPORTUSERPASSWORD</value>
            </setting>
            <setting name="SMTP_User_Name" serializeAs="String">
                <value>USERNAME</value>
            </setting>
            <setting name="SMTP_Password" serializeAs="String">
                <value>PASSWORD</value>
            </setting>
            <setting name="Email_From" serializeAs="String">
                <value>noreply@noreply.com</value>
            </setting>
            <setting name="Email_From_Display_Name" serializeAs="String">
                <value>NoReply</value>
            </setting>
            <setting name="Email_Subject" serializeAs="String">
                <value>Automated Crystal Reports</value>
            </setting>
        </CrystalReportsNinja.Properties.Settings>
    </userSettings>
</configuration>
